<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301371323646-n6njnae04l6kuloqv8etpivk05pkm2c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301371323646-n6njnae04l6kuloqv8etpivk05pkm2c9</string>
	<key>API_KEY</key>
	<string>AIzaSyDgJAcrTToRpCv3d9YAf5cnN5_CegDO9jY</string>
	<key>GCM_SENDER_ID</key>
	<string>301371323646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.test1.PocketScholar</string>
	<key>PROJECT_ID</key>
	<string>pocket--scholar</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket--scholar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301371323646:ios:9ab90ed3e1b726a9c461af</string>
</dict>
</plist>